body
{
  padding: 20%;
  border-radius: 460px;
  padding-top: 40px;
    background-image: url('background.jpeg');
    background-size: contain;
}
section
{
  padding: 10px;
}
.box
{
  padding: 1%;
  padding-left: 20%;
  border-radius: 150px;
  border-style:inset;
  border-color: darkblue;
  background-color: #ffffff;
}
.box2
{
  padding: 1%;
  padding-left:20%;
  border-radius: 150px;
  border-color: darkblue;
  border-style: dashed;
    background-color: #ffffff;
}
.list
{
  padding-top: 5px;
  border-radius: 200px;
  background-color: #fff;
  color: #008000;
  padding: 10%;
  border-color:darkblue;
}
p
{
  text-align: center;
  font-size: 30px;
  color: tomato;
  padding-right: 10%;

}
h1
{
  text-align: center;
  padding-top: 10px;
  font-size: 50px;
  color: #008000;
  padding-right: 10%;

}
li a
{
text-align: center;
}
