body
{
  padding: 200px;
  border-radius: 460px;
  padding-top: 40px;
  background-color: #fdd023;

}
section
{
  border-radius: 100px;
  padding: 10px;
  background-color: #fdd023;
}
.box
{
  padding: 5px;
  padding-left: 200px;
  border-radius: 150px;
  border-style:inset;
  border-color: red;
  background-color: #fff;
}
.box2
{
  padding: 5px;
  padding-left:250px;
  border-radius: 150px;
  border-color: red;
  border-style: dashed;
    background-color: #fff;
}
.list
{
  padding-top: 5px;
  border-radius: 250px;
  background-color: #fff;
  color: #008000;
  padding-left: 200px;
  border-style:inset;
  border-color: red;
}
p
{
  font-size: 30px;
  color: #008000;
  padding-left: 20px;
  padding-right: 20px;

}
h1
{
  padding-top: 10px;
  font-size: 50px;
  color: #008000;
  padding-left: 20px;
  padding-right: 20px;
}
li a
{

}
